.addform {
   margin: 80px auto;
   width: 460px;
   padding-bottom: 20px;
   text-align: center;
   background: #fff;
   box-shadow: -1px -1px 3px 5px #673ab7;
   border: 1px solid #000;
   border-radius: 20px;
 }
 .input {
   background-color: #fff;
   font-size: 20px;
   text-align: left;
   padding: 10px;
   margin: 10px -1px;
   max-width: 400px;
   width: 100%;
   border-radius: 7px;
   color: black;
 }
 .addform button { 
   background-color: #673ab7;
   padding: 10px 30px;
   font-size: 22px;
   margin-top: 30px;
   margin-bottom: 10px;
   outline: none;
   border: 0;
   border-radius: 7px;
   color: white;
 }

 .label {
   background-color: #fff;
   font-size: 20px;
   text-align: left;
   padding: 0 10px 0 10px;
   margin: 10px -1px;
   max-width: 400px;
   width: 100%;
   border-radius: 7px;
   color: black;
 }
 
 .head {
   padding-top: 50px;
   padding-bottom: 50px;
 }
 