.addform {
   margin: 80px auto;
   width: 500px;
   padding-bottom: 80px;
   text-align: center;
   background: #fff;
   box-shadow: -1px -1px 3px 5px #673ab7;
   border: 1px solid #000;
   border-radius: 20px;
 }
 .input {
   background-color: #fff;
   font-size: 20px;
   text-align: left;
   padding: 5px;
   margin: 30px;
   max-width: 350px;
   width: 100%;
   border-radius: 7px;
   color: black;
 }
 .addform button { 
   background-color: #673ab7;
   padding: 10px 30px;
   font-size: 22px;
   margin-top: 70px;
   outline: none;
   border: 0;
   border-radius: 7px;
   color: white;
 }
 
 .head {
   padding-top: 50px;
   padding-bottom: 50px;
 }
 