.addform {
  margin: 50px auto;
  width: 700px;
  padding-bottom: 45px;
  text-align: center;
  background: #fff;
  box-shadow: 0 8px 8px -4px #673ab7;
  border: 1px solid #000;
  border-radius: 20px;
}
.input {
  background-color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 10px 10px !important;
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 7px;
  color: black;
}
.addform button { 
  background-color: #673ab7;
  padding: 10px 30px;
  font-size: 22px;
  margin-top: 70px;
  outline: none;
  border: 0;
  border-radius: 7px;
  color: white;
}

.head {
  padding-top: 50px;
  padding-bottom: 50px;
}
